html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/**********************************************************************************************/

/* background-color: define el color de fondo del elemento
background-image: defina la imagen de fondo del elemento
background-repeat: define cómo se repite la imagen de fondo en el elemento
background-size: define el tamaño de la imagen de fondo, primer valor x, segundo y
  -cover cambia el tamaño de la imagen de fondo para asegurarse de que permanezca completamente visible
  -contain cambia el tamaño de la imagen de fondo para asegurarse de que el elemento esté completamente cubierto
bacground-position: define la posición de la imagen de fondo, primer valor x, segundo y, sino se especifica un segundo valor éste será center
 aparte de valores numéricos podemos indicar el posicionamiento con las palabras:
  center, top bottom, left and right
background-clip: define cuánto debe extenderse el fondo dentro del elemento.
background-origin: define el origen de la imagen de fondo.
background-attachment: define cómo se comportará la imagen de fondo al desplazarse por la página */

.box {
  margin: 2rem auto;
  width: 400px;
  height: 400px;
  border: thick dashed red;
  margin-left: auto;
  margin-right: auto;
}