html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/******************************Estilos de Fuentes Tipográficas*********************************/

/* Estilos de la Fuente 

font-family
font-size
font-weight
font-style
font-variant
line-height
font
*/

.font {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: oblique;
  font-variant: small-caps;
  line-height: 2;
  font: italic small-caps bold 24px / 1.5 monospace;
}

/*************************************Estilos de Textos****************************************/

/* Formato woff o woff2 - Web Open Font Format 
font-display:
auto - permite que el navegador utilice el método predeterminado que suele ser block
block - oculta brevemente el texto hasta que la fuente haya sido descargada por completo
swap - indica al navegador que utilice la fuente alternativa para mostrar el texto hasta que la fuente personalizada se haya cargado por completo
fallback - es una mezcla de auto y swap
optional - ocultará el texto, luego lo cargará con la fuente alternatica y funalmente apiclará la fuente personalizada
*/

@font-face {
  font-family: "Pecita";
  src: url("../assets/Pecita.woff") format("woff");
  font-display: swap;
}

.pecita {
  font-family: "Pecita", sans-serif;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

/* 
text-align
text-decoration
text-indent
text-overflow
Para que text-overflow funcione hay que tener activado:
  -white-space: nowrap;
  -overflow: hidden;
text-transform
letter-spacing
white-space

word-break
word-spacing
writing-mode
*/

.text {
  background-color: chocolate;
  border: thin solid black;
  font-size: 2rem;
  text-align: center;
  text-align: left;
  text-decoration: underline;
  text-indent: 3rem;
  text-transform: capitalize;
  text-transform: lowercase;
  text-transform: uppercase;
  letter-spacing: .5rem;
  word-break: break-all;
}

.text-overflow {
  background-color: chocolate;
  border: thin solid black;
  width: 50%;
  font-size: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.white-space {
  white-space: pre;
}

.word-spacing {
  font-size: 2rem;
  word-spacing: 1rem;
  writing-mode: vertical-lr;
  writing-mode: vertical-rl;
}

/********************************Tipografías de Íconos Vectoriales*****************************/

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}